{% extends 'base.html' %}

{% block title %}
  User Registration
{% endblock %}


{% block content %}
<h2 class="text-center">Register</h2>
<div class="col-md-6 offset-md-3">
    <form method="POST">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p>Form contains Errors...</p>
            {% for field in form %}
               {% if field.errors %}
                  {{field.errors}}
               {% endif %}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        {{form.as_p}}
        <button type="submit" class="btn btn-secondary">Register Here</button>
    </form>
</div>
{% endblock %}