{% extends 'base.html' %}

{% block title %}
  Pure Django authentication system
{% endblock %}


{% block content %}
<h1>Completely Free for anyone wishing to download this project</h1>
<p>source codes for this project is available on github  <a class="btn btn-primary" href="#">Click Here to view the project</a></p>
{% if user.is_authenticated %}
<h3>WELCOME {{user.username}}</h3>
<ul class="list-group">
   <li class="list-group-item">First Name: {{ user.first_name }}</li>
   <li class="list-group-item">Last Name:  {{user.last_name}}</li>
   <li class="list-group-item">Email Address:   {{user.email}}</li>
</ul>
{% endif %}

{% endblock %}